.card[b-zm0qpesrt8] {
    margin-bottom: 20px;
    background-color: #f7f6e1;
    border: 1px solid #e5e5e5;
    width: 50%;
    height: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    
}